.lista-suspensa {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #FFF;
   
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
}